@model StudentComment.Models.Student

@{
    ViewBag.Title = "Add";
}


<div class="row">

    <table class="table">
        <tr>
            <td colspan="4" style="text-align:center;vertical-align:central">
                <img src="~/Img/photo.jpg" class="img-circle" />
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:center">
                @Model.Name @Model.SurName @Model.Class
                <input id="studentId" hidden value="@Model.Id" />
            </td>
        </tr>
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td style="text-align:center;vertical-align:central">
                    <img src="~/Img/photo.jpg" class="img-circle" style="width:50px;" /><br />
                    <label style="text-align:center;margin:0;font-weight:normal">@Html.DisplayFor(modelItem => item.TeacherName)</label>
                </td>
                <td style="text-align:center;vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Explanation)
                </td>
                <td style="text-align:center;vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td style="text-align:center;vertical-align:middle">
                    @if (item.Status == "Olumlu")
                    {
                        <img class="img-circle" src="~/Img/good.png" style="height:25px; width:25px" />
                    }
                    else
                    {
                        <img class="img-circle" src="~/Img/bad.png" style="height:25px; width:25px" />
                    }

                </td>
            </tr>
        }
    </table>
</div>
<hr>
<div class="row">
    <div class="col-xs-6" style="text-align:left">
        <input type="submit" value="Ekle" class="btn btn-default" data-toggle="modal" data-target="#myModal" />

    </div>
    <div class="col-xs-6" style="text-align:right">
        <a href="/Comment/" class="btn btn-default">
            Geri
        </a>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Öğrenci Davranışı Ekleme</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-6">
                        <input class="form-control" type="text" id="explanation" />
                    </div>
                    <div class="col-sm-6" style="text-align:center">
                        <label class="radio-inline"><input type="radio" name="optradio" value="Olumlu" checked><img class="img-circle" src="~/Img/good.png" style="height:25px; width:25px" /></label>
                        <label class="radio-inline"><input type="radio" name="optradio" value="Olumsuz"><img class="img-circle" src="~/Img/bad.png" style="height:25px; width:25px" /></label>
                        @*<input type="checkbox" id="toggle-two" checked data-toggle="toggle" data-on="+" data-off="-" style="width:300px">*@
                    </div>
                </div>
                <div class="modal-footer">

                    <table style="width:100%" >
                        <tr>
                            <td style="text-align:left"><button type="button" class="btn btn-default" data-dismiss="modal" onclick="send()">Ekle</button> </td>
                            <td style="text-align:right"><button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button> </td>
                        </tr>
                    </table>
                   
                </div>
            </div>

        </div>
    </div>

</div>
@section scripts{
    <script>
        function send() {
            var data = {
                studentId: $("#studentId").val(),
                explanation: $("#explanation").val(),
                status: $("input[name=optradio]:checked").val()
            }
            $.ajax({
                type: "POST",
               data: data,
                success: function () {
                    window.location.reload();
                }               
            });
            $("#explanation").val("");
        }

    </script>
}
