@using Microsoft.AspNet.Identity
@model StudentComment.Models.ManageUserViewModel

@*<p><strong>@User.Identity.GetUserName()</strong> olarak giriş yaptımız.</p>*@

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Şifre Değiştirme Formu</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @*@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })*@
        <label class="col-md-2 control-label">Geçerli Şifreniz</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @*@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })*@
        <label class="col-md-2 control-label">Yeni Şifreniz</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
        <label class="col-md-2 control-label">Şifre Tekrarı </label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Şifre Değiştir" class="btn btn-default" />
        </div>
    </div>
}
