@model StudentComment.Models.Student

@*@{
    ViewBag.Title = "Delete";
}*@

<h2>@*Delete*@</h2>

<h3>Silmek istediğinizden emin misiniz?</h3>
<div>
    @*<h4>Student</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
            <label>Adı</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.SurName)*@
            <label>Soyadı</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurName)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Picture)*@
            <label>Resmi</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Department)*@
            <label>Bölümü</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Class)*@
            <label>Sınıfı</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Number)*@
            <label>Numarası</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Geriye Dön", "Index")
        </div>
    }
</div>
