@model StudentComment.Models.Student
@{
    ViewBag.Title = "edit";
}

<h2>Öğrenci Dü</h2>
<div class="row">
    <form action="/AdminStudent/Edit" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Tc Kimilik No</label>
            <input type="text" class="form-control" name="Id" value="@Model.Id" placeholder="Kimlik No" disabled>
        </div>
        <div class="form-group">
            <label>Adi</label>
            <input type="text" class="form-control" name="Name" value="@Model.Name" placeholder="Adı">
        </div>
        <div class="form-group">
            <label>Soyadi</label>
            <input type="text" class="form-control" name="SurName" value="@Model.SurName" placeholder="Soyadi">
        </div>
        <div class="form-group">
            <label>Bölüm Seçiniz</label>
            <select class="form-control" name="Department">
                @{
                    var bolumler=new string[]{"Bilişim","Kimya","Mobilya","Makine","Elektrirk"};
                    foreach (var bolum in bolumler)
                    {
                        if(bolum==@Model.Department){
                            <option selected value="@bolum">@bolum</option>
                            
                        }
                        else
                        {
                            <option value="@bolum">@bolum</option>
                            
                        }

                    }

                }
               
            </select>
        </div>
        <div class="form-group">
            <label>Sınıfı</label>
            <select class="form-control" name="class">
                <option value="Amp10">Amp10</option>
                <option value="Amp11">Amp11</option>
            </select>
        </div>
        <div class="form-group">
            <label>Numarası</label>
            <input type="number" class="form-control" name="Number" value="@Model.Number" placeholder="Numarası" />

        </div>
        <div class="form-group">
            <label for="exampleInputFile">Resmi</label>
            <input type="file" class="form-control-file" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
        </div>
        <div>
            @ViewBag.Error
        </div>
        <div class="form-group">
            <input type="submit" value="Kaydet" class="btn btn-primary" />
        </div>
    </form>
</div>
