@model IEnumerable<StudentComment.Models.TeacherViewModel>

@*@{
    ViewBag.Title = "Index";
}*@

<h2>Kullanıcılar</h2>


<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model=>model.UserName)*@
            <label>Kullanıcı Adı</label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            <label>Adı</label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.SurName)*@
            <label>Soyadı</label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Picture)*@
            <label>Resmi</label>
        </th>
       
        <th>
            @Html.ActionLink("Yeni Kullanıcı","Create")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
       <td>
           @Html.DisplayFor(modelItem => item.UserName)
       </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
       
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
